<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <img class="mb-4" src="img/logo.svg" alt="" />
          <br />
          <span class="footer-text">
            For tennis players who want to find a court and competitors to play
            against. Unlike other court reservation systems, our product
            connects the tennis community.
          </span>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase mb-4">Resources</h4>
          <p>
            <a href="/featured-parks" class="footer-link">Featuerd Parks</a>
          </p>
          <p>
            <a href="/find-partners" class="footer-link">Find Partners</a>
          </p>
          <p>
            <a href="/park-search?zip=" class="footer-link">Park Search</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase mb-4">ACCOUNT</h4>

          <%if (user_id) {%>
          <!-- LOGGED IN -->
          <p>
            <a href="/profile" class="footer-link">Profile</a>
          </p>
          <p>
            <a href="/reservations" class="footer-link">Reservations</a>
          </p>
          <p>
            <a href="/logout" class="footer-link">Logout</a>
          </p>

          <% } else {%>
          <!-- LOGGED OUT  -->
          <p>
            <a href="/login" class="footer-link">Login</a>
          </p>
          <p>
            <a href="/register" class="footer-link">Create an Account</a>
          </p>
          <% } %>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 footer-link" style="font-size: 12px">
    © Copyright 2023 CourtConnect.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
