<div class="nav">
  <div id="nav" class="container-fluid">
    <div id="mobileHeader" class="header d-flex align-items-center">
      <img class="mx-auto menuLogo" src="/img/logo.svg" alt="" />
      <img class="menu-button" src="/img/menu.svg" alt="" />
    </div>
    <div id="webHeader" class="header d-flex align-items-center flex-row">
      <img class="menuLogo" src="/img/logo.svg" alt="" />
    </div>
  </div>
</div>

<div class="nav-popup closed">
  <div class="popup-top d-flex justify-content-between">
    <img class="menuLogo" src="/img/logo.svg" alt="" />
    <img class="close-button" src="/img/close.svg" alt="" />
  </div>
  <div class="popup-content">
    <ul class="nav-list d-flex flex-column">
      <li><a href="#">Home</a></li>
      <li><a href="#">Learn More</a></li>
      <div class="nav-break">
        <svg
          width="175"
          height="1"
          viewBox="0 0 175 1"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="0.5" x2="175" y2="0.5" stroke="#666666" />
        </svg>
      </div>

      <li><a href="#">Featured Parks</a></li>
      <li><a href="#">Find Partners</a></li>
      <li><a href="#">Park Search</a></li>
      <li><a href="#">Help</a></li>
      <div class="nav-break">
        <svg
          width="175"
          height="1"
          viewBox="0 0 175 1"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="0.5" x2="175" y2="0.5" stroke="#666666" />
        </svg>
      </div>

      <li><a href="#">Log In</a></li>
      <li><a href="#">Create an Account</a></li>
    </ul>
  </div>
</div>

<script src="/js/menu.js"></script>
