<div class="nav">
  <div id="nav" class="container-fluid">
    <div id="mobileHeader" class="header d-flex align-items-center">
      <img class="mx-auto menuLogo" src="/img/logo.svg" alt="" />
      <img class="menu-button" src="/img/menu.svg" alt="" />
    </div>
    <div id="webHeader" class="header d-flex align-items-center flex-row" style="height: 100%; width:100%;">
      
      <a href="/">
        <img class="menuLogo" src="/img/logo.svg" alt="" />
      </a>
     

        <div class="left d-flex flex-row justify-content-left">
          <a class="nav-link" href="">Featured Parks</a>
          <a class="nav-link" href="">Find Partners</a>
          <a class="nav-link" href="">Park Search</a>
          <a class="nav-link" href="">Help</a>
        </div>
        <div class="nav-link right ml-auto">
          <a href="/register">Log In / Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nav-popup closed">
  <div class="popup-top d-flex justify-content-between">
    <img class="menuLogo" src="/img/logo.svg" alt="" />
    <img class="close-button" src="/img/close.svg" alt="" />
  </div>
  <div class="popup-content">
    <ul class="nav-list d-flex flex-column">
      <li><a href="/">Home</a></li>
      <li><a href="#">Learn More</a></li>
      <div class="nav-break">
      <img src="/img/line.svg" alt="">
      </div>

      <li><a href="#">Featured Parks</a></li>
      <li><a href="#">Find Partners</a></li>
      <li><a href="#">Park Search</a></li>
      <li><a href="#">Help</a></li>
      <div class="nav-break">
        <img src="/img/line.svg" alt="">
      </div>

      <li><a href="/login">Log In</a></li>
      <li><a href="/register">Create an Account</a></li>
    </ul>
  </div>
</div>

<script src="/js/menu.js"></script>
