footer {
  margin-top: 50px;
  background-color: #002f47;
  color: white !important;
  padding-top: 20px;
}

.footer-link {
  color: #f5f5f5;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 13px;
  font-weight: normal;
}

.footer-link:hover,
.footer-link:active {
  color: #c8c7c7 !important;
}

.footer-text {
  font-size: 14px !important;
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: normal;
}
