/* Custom CSS for styling the button */
@import url(//fonts.googleapis.com/css?family=Nunito);
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.card{
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vh;
    border-style: none;
}

.form-control{
    background-color: rgba(206, 255, 197, 0.225);
    width: 400vw;
}



.login-btn {
  color: white;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  width: 200px;
  background-color: #20af4b; /* Tennis ball color */
  border-color: #20af4b;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;

}



#login-text {
  font-weight: 800;
  font-size: x-large;
  display: block;
  margin: 25px auto;
}

#username {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 80%;
}

.form-control {
  margin-bottom: 25px;
  width: 80%;
}

.loginLink,
.loginLink:link,
.loginLink:visited {
  color: #20af4b !important;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

