/* removing default margin */

.close-button {
  cursor: pointer;
}
.menu-button {
  cursor: pointer;
}
.menuLogo {
  cursor: pointer;
}

.header {
  height: 100%;
}

.nav {
  height: 60px;
  border-bottom: 1px solid #c5c5c5;
}

.overflowHidden {
overflow:hidden;
}

.nav-popup {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding-left: 30px;
  font-family: "Nunito Sans", sans-serif;
  color: #666666;
  font-size: 16px;
  z-index: 1000;
  position: absolute;
  

}

.nav-link {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #005f8f !important;
}

.popup-content {
  margin: 0;
  padding: 0;
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  padding-top: 20px;
}

.nav-break {
  padding-top: 20px;
}

/* Above Tablet*/

@media (max-width: 801px) {
  #webHeader {
    display: none !important;
  }
}

@media (min-width: 801px) {
  #mobileHeader {
    display: none !important;
  }
  .nav-popup {
    display: none !important;
  }
  #webHeader {
    display: flex !important;
  }
  body {
    overflow: auto !important;
  }
}

.closed {
  margin-left: 100% !important;
}


.transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out
    -o-transition:all 0.5s ease-in-out;
    transition::all 0.5s ease-in-out;
}