.featuredParks {
  margin-top: 50px;
}

.parkCarousel {
  gap: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 95%;
}

.parkCard {
  width: 276.69px;
  height: 200px;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
}

.parkCard:hover,
.parkCard:active {
  background-color: #f4f5f7;
}

.parkImage {
  height: 110px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.parkCardContent span {
  font-family: Poppins;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.parkName {
  font-size: 13px;
  font-weight: 600;
}

.parkCity {
  font-size: 12px;
  font-weight: 500;
}

.parkTimes {
  padding: 15px;
}

.parkTime {
  background-color: #20af4b;
  color: white;
  width: 70px;
  border-radius: 6px;
  border: none;
}

.spanTime {
  font-size: 13px;
}
