.div-courts{
    width: 100%;
}

.court-card{
    background-color: rgb(30, 42, 69);
    color: #fff;
    border-radius:10px;
    
}

.btn-back{
    background-color: rgb(30, 42, 69);
    color: #fff !important;
}
.div-times{
    background-color: #ffff;
    color: #000;
    border-radius: 12px;

}

.times{
    
    background-color: rgb(30, 42, 69);
    color: #fff;
    border-radius: 5px;

    
}

