.gradient-custom {
    /* fallback for old browsers */
    background: #adff2f;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(173,255,47,1), rgba(0,128,0, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(173,255,47,1), rgba(0,128,0,1))
    }

.hidden {
    display: none;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card mb-3{
    margin-bottom: 30px;
}

  
  
  
