<!-- Template For Displaying a Court
    - Display all court times for a given park in a list on this page
-->


<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
