<!-- Template For Displaying a Featured Parks
    - Display all featured parks in a grid on this page
-->

<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
