<!-- Template For Displaying Open Reservations Nearby the Player
    - Display all  Open Reservations Nearby the Player in a list on this page
-->


<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
