<!-- Template For Displaying the park search feature
    - Form(POST REQUEST) input zip code 
    - Display all parks in a given distance radius
-->

<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
