<!-- Template For Displaying a Park
    - Display all courts at park in a list on this page
-->


<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
