<!-- Template For Displaying the park search feature
    - Form(GET REQUEST) optional input zip code 
    - Default display all parks
    Optionally:
        - Display all parks in a given distance radius based on input zip code
-->

<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
