<!-- Template For Displaying a All Parks
    - Display all all parks in a list on this page
-->

<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
