<!-- Template For Displaying a Profile 
    - Display all profile information
    - Allow edits of profile information through form and post request
-->

<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
