<!-- Template For Displaying a All Reservations for a user
    - Display all reservations for a user in a list on this page
-->

<%- include ('../partials/header')%>

<main><%- include ('../partials/menu')%></main>

<%- include ('../partials/footer') %>
